{{ define "main" }}
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <span
            class="text-[8rem] block font-bold text-dark dark:text-darkmode-dark">
            <p>
            Parece que você se deparou com um erro 404 🔥
            </p>
          </span>
          <h1 class="h2 mb-4">Página não encontrada</h1>
          <div class="content">
            <p>
              A página que você está procurando pode ter sido removida, teve seu nome alterado ou está temporariamente indisponível.
            </p>
          </div>
          <a
            href="{{ site.BaseURL | relLangURL }}"
            class="btn btn-primary mt-8">
            Voltar para página ínicial
          </a>
        </div>
      </div>
    </div>
  </section>
{{ end }}